#Assignment - Data Structure

1) Ans

String slicing is a technique in Python that allows you to extract a substring from a string by specifying a start index, an end index, and an optional step.

syntax:

string[start:end:step]

In [ ]:
# examples

string1 = "Abhijeet"
string1[1:5]

'bhij'

In [ ]:
string1[1:5:2]

'bi'

In [ ]:
string1[1:]

'bhijeet'

In [ ]:
string1[:5]

'Abhij'

2) Ans

 The key features of lists in Python:

1. Ordered:
Lists maintain the order of elements, meaning that items are stored and accessed in the sequence they were added.
2. Mutable
Lists can be changed after creation. You can modify, add, or remove elements without creating a new list.
3. Dynamic Size
Lists can grow and shrink in size as needed. You don’t have to declare their size in advance.
4. Heterogeneous Elements
A list can contain elements of different data types (e.g., integers, strings, other lists).
5. Supports Various Methods
Lists come with built-in methods like append(), remove(), pop(), sort(), and reverse(), making manipulation straightforward.
6. Nested Lists
Lists can contain other lists, allowing for the creation of complex structures like matrices.
7. Indexing and Slicing
You can access specific elements using indexes and extract sublists using slicing.

In [ ]:
#Ordered
list1=[1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

In [ ]:
# list can have heterogenous element
list2 = [1,"Abhijeet",2.5, 3.5j]
list2

[1, 'Abhijeet', 2.5, 3.5j]

In [ ]:
# list can be mutable
list2[1] = "Palai"
list2

[1, 'Palai', 2.5, 3.5j, 'Palai', 'Ashit']

In [ ]:
# nested list
list3 = [1,2,3,[4,5,6]]
list3

[1, 2, 3, [4, 5, 6]]

In [ ]:
# indexing and slicing of list
list3[1:3]

[2, 3]

In [ ]:
# list support various method
list3.append(7)
list3

[1, 2, 3, [4, 5, 6], 7]

In [ ]:
list3.remove(7)
list3

[1, 2, 3, [4, 5, 6]]

In [ ]:
list3.reverse()
list3

[[4, 5, 6], 3, 2, 1]

3) Ans

In [ ]:
# accessing the list

list1 = [1, "Abhijeet", 3.5, 4+5j]
list1[1]

'Abhijeet'

In [ ]:
list1[3]

(4+5j)

In [ ]:
# modifying the list

list2 = [1, "Abhijeet", 3.5, 3+4j, "Palai"]
list2[1] = "Ashit"
list2

[1, 'Ashit', 3.5, (3+4j), 'Palai']

In [ ]:
# deleting the element in the list using del , remove , pop

del list2[1]
list2

[1, 3.5, (3+4j), 'Palai']

In [ ]:
list3 = [1, "Abhijeet", 3.5, 3+4j, "Palai"]
list3.remove("Palai")
list3

[1, 'Abhijeet', 3.5, (3+4j)]

In [ ]:
list4 = [1, "Abhijeet", 3.5, 3+4j, "Palai"]
list4.pop(1)
list4

[1, 3.5, (3+4j), 'Palai']

4) Ans

Tuples and lists are both data structures in Python used to store collections of items. Here’s a comparison of their key features, along with examples:

Key Differences
Mutability:

Lists: Mutable, meaning you can modify them (add, remove, or change elements).
Tuples: Immutable, meaning once they are created, you cannot change their contents.
Syntax:

Lists: Defined using square brackets [].
Tuples: Defined using parentheses ().
Performance:

Lists: Generally have a higher memory overhead due to their mutability.
Tuples: Typically have a smaller memory footprint and can be faster for certain operations due to their immutability.
Use Cases:

Lists: Preferred when you need a collection that may change over time.
Tuples: Ideal for fixed collections of items or for data that should not change (like coordinates or database records).

In [ ]:
# List
#list are mutable
list1 = [1,2, 3.5, 4+5j, "Abhijeet"]
list1[1] = "Palai"
list1

[1, 'Palai', 3.5, (4+5j), 'Abhijeet']

In [ ]:
# Tuples
# tuples are immutable
tuple1 = (1,2, 3.5, 4+5j, "Abhijeet")
tuple1[1] = "Palai"

TypeError: 'tuple' object does not support item assignment

5) Ans

Sets are a built-in data structure in Python that represent an unordered collection of unique elements. Here are some key features of sets, along with examples of their use:

Key Features
Uniqueness:

a) Sets automatically eliminate duplicate entries. Each element must be unique.
Unordered:

b) The items in a set do not have a defined order. This means that the order in which items are added does not matter.
Mutable:

c) Sets are mutable, allowing you to add or remove items after the set has been created.
Operations:

d) Sets support various mathematical operations like union, intersection, difference, and symmetric difference.
Membership Testing:

e) Sets provide a fast way to check for membership. Using the in keyword is efficient for checking if an element is part of a set.

In [ ]:
# creating a set
set1 = {1,2,3.5,"Abhijeet",5+3j}
set1  #set are unorder collection of element

{(5+3j), 1, 2, 3.5, 'Abhijeet'}

In [ ]:
# sets are mutable
set1.add("Palai")
set1

{(5+3j), 1, 2, 3.5, 'Abhijeet', 'Palai'}

In [ ]:
set1.remove("Palai")
set1

{(5+3j), 1, 2, 3.5, 'Abhijeet'}

In [ ]:
# Various mathematical operation like, union, intersection, difference, symmetric difference

set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
set1|set2 # union>> combine all the element

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
set1&set2 # intersection >> common element

{4, 5}

In [ ]:
set1-set2 # difference >> element in set1 but not in set2

{1, 2, 3}

In [ ]:
set2-set1 # difference >> element in set2 but not in set1

{6, 7, 8}

In [ ]:
set1^set2 # symmetric difference >> element in set1 or set2 but not in both

{1, 2, 3, 6, 7, 8}

In [ ]:
# Membership testing
set3 = {1,2,3,4,5}
3 in set3

True

6) Ans

Tuples and sets in Python are both versatile data structures, but they serve different purposes and have distinct characteristics. Here’s a breakdown of their use cases:

Tuples
Immutable Collections:

Tuples are immutable, meaning their elements cannot be changed after creation. This makes them suitable for fixed collections of items, such as coordinates

Use tuples when you want to ensure that data remains constant throughout your program, which can help prevent accidental modifications.
Return Multiple Values:

Tuples are often used to return multiple values from a function.

Dictionary Keys:

Because tuples are immutable, they can be used as keys in dictionaries, whereas lists cannot. This is useful for creating composite keys.
Packing and Unpacking:

Tuples support packing and unpacking, which simplifies code

Heterogeneous Data:

Tuples can store heterogeneous data types, making them useful for records, like storing a name and age together.

In [ ]:
#tuple
#tuple can store heterogenous data types
tuple1 = (1,2,3.5,4+5j,"Abhijeet")
tuple1

(1, 2, 3.5, (4+5j), 'Abhijeet')

In [ ]:
# Use case of tuple is where don't want to modify the data
employid = (1,2,3,4,5)
employid[1] = 20

TypeError: 'tuple' object does not support item assignment

6) Ans Sets

Unique Collections:

Sets are unordered collections that automatically enforce uniqueness. They are ideal for situations where you need to store distinct items, such as a collection of user IDs.
Mathematical Set Operations:

Sets support operations like union, intersection, and difference, which can be useful for tasks involving comparisons or data analysis:

Membership Testing:

Sets provide faster membership testing compared to lists, making them suitable for scenarios where you frequently check for the presence of an item.
Removing Duplicates:

You can easily remove duplicates from a list by converting it to a set:

Dynamic Collections:

Unlike tuples, sets are mutable, allowing you to add or remove items. This makes them useful for collections that need to change over time.

In [ ]:
set1 = {1,2,3.5, "Abhijeet", 4+5j}
set1 #sets are unodered collection of elements

{(4+5j), 1, 2, 3.5, 'Abhijeet'}

In [ ]:
# It doesn't allow duplicate elements
set2 = {1,1,2,2,3,3,4,4,5,5}
set2

{1, 2, 3, 4, 5}

In [ ]:
# It is unodered therefore indexing will not work
set2[1]

TypeError: 'set' object is not subscriptable

In [ ]:
# Various mathematical operation like, union, intersection, difference, symmetric difference

set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
set1|set2 # union>> combine all the element

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
set1&set2 # intersection >> common element

{4, 5}

In [ ]:
set1-set2 # difference >> element in set1 but not in set2

{1, 2, 3}

In [ ]:
set2-set1 # difference >> element in set2 but not in set1

{6, 7, 8}

In [ ]:
set1^set2 # symmetric difference >> element in set1 or set2 but not in both

{1, 2, 3, 6, 7, 8}

In [ ]:
# Membership testing
set3 = {1,2,3,4,5}
3 in set3

True

In [ ]:
# Use case os set

list1 = [1, 2, 3, "Abhijeet", "Abhijeet", "Ashit", "Ashit", "Palai", "Palai" ]
#To avoid duplicate Abhijeet, Ashit, Palai we use set
s = set(list1) # Here we cannot list into set
s

{1, 2, 3, 'Abhijeet', 'Ashit', 'Palai'}

In [ ]:
# Now again convert set to list back
list1 = list(s)
list1

[1, 2, 3, 'Palai', 'Abhijeet', 'Ashit']

7) Ans

Dictionaries in Python are mutable collections of key-value pairs, allowing you to add, modify, and delete items easily. Here’s how to do each of these operations:

In [ ]:
dict ={"name":"Abhijeet", "age":24, "city":"Gurugram"}
dict

{'name': 'Abhijeet', 'age': 24, 'city': 'Gurugram'}

In [64]:
# to add elementin dictionary

# Create an empty dictionary
my_dict = {}

# Add items
my_dict['name'] = "Abhijeet"
my_dict['age'] = 24

print(my_dict)
# Output: {'name': 'Alice', 'age': 30}

{'name': 'Abhijeet', 'age': 24}

In [67]:
# Modify an existing item
my_dict['age'] = 30
print(my_dict)
# Output: {'name': 'Alice', 'age': 30}

{'name': 'Abhijeet', 'age': 30}

In [76]:
# Delete an item
del my_dict['age']
my_dict
# Output: {'name': 'Alice'}

KeyError: 'age'

In [77]:
# Using pop to remove and return the value
name = my_dict.pop('name')

print(my_dict)
# Output: {}
print(name)
# Output: Abhijeet

KeyError: 'name'

8) Ans

In Python, dictionary keys must be immutable. This requirement is important for several reasons, including data integrity, performance, and the fundamental design of dictionaries. Here’s a detailed look at why immutability matters for dictionary keys, along with examples.

1. Data Integrity
Immutability ensures that once a key is added to a dictionary, it cannot be changed. This is crucial for maintaining the integrity of the data structure. If keys were mutable, their hash values could change, leading to inconsistencies in data retrieval.

In [78]:
my_dict = {}
key = [1, 2, 3]  # A mutable list cannot be used as a key

# This would raise a TypeError
# my_dict[key] = 'value'

In [79]:
my_dict = {}
key = (1, 2, 3)  # A tuple is immutable

my_dict[key] = 'value'  # This works
print(my_dict)
# Output: {(1, 2, 3): 'value'}

{(1, 2, 3): 'value'}

2. Performance
Dictionaries rely on hash tables for quick data retrieval. When a key is used, its hash value is calculated and stored. If mutable objects could be used as keys, their hash values could change if the object is modified, leading to incorrect lookups or even data loss.

In [80]:
my_dict = {}

# If a mutable object like a list were allowed as a key
# Changing the list would change the hash value
key = [1, 2]

my_dict[key] = 'some value'  # This will fail

TypeError: unhashable type: 'list'

3. Consistency
Having immutable keys ensures that the dictionary’s structure remains consistent throughout its lifetime. If keys could change, the dictionary would become unreliable, making it difficult to track values.

In [82]:
my_dict = {}

# Using an immutable string as a key
key = "username"
my_dict[key] = "Alice"

# The value can be reliably retrieved
print(my_dict[key])  # Output: Alice

Alice

Allowed Immutable Types
The types that can be used as dictionary keys include:

Strings: Always immutable.
Numbers: Integers and floats are immutable.
Tuples: Can be used as long as all elements within the tuple are also immutable.
Frozensets: Immutable versions of sets.

In [83]:
my_dict = {}
key = (1, 2, 3)  # A tuple is immutable
my_dict[key] = 'Tuple Key'

print(my_dict)
# Output: {(1, 2, 3): 'Tuple Key'}

{(1, 2, 3): 'Tuple Key'}